body {
    --tg-theme-bg-color: #121212;
    --tg-theme-text-color: #ffffff;
    --tg-theme-secondary-bg-color: #1e1e1e;
    --tg-theme-hint-color: #555555;
    --tg-theme-button-color: #6200ea;
    --tg-theme-button-text-color: #ffffff;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}
input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    border: 1px solid var(--tg-theme-hint-color);
    border-radius: 8px;
}
button {
    width: 100%;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}